<form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <div class="row responsive-md">

        <div class="col col-50 col-offset-25">
            <ion-item>
                <ion-label floating>Correo</ion-label>
                <ion-icon name="mail" item-left class="iconPosition"> </ion-icon>
                <ion-input #email formControlName="email" type="email" [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
                </ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty">
                <p>Por favor ingresa un correo válido.</p>
            </ion-item>
            <button ion-button block type="submit" color="secondary">Buscar</button>
        </div>
    </div>
</form>