$text-input-md-show-success-highlight: false;
$text-input-md-show-error-highlight: false;
.ios,
.md,
.wp {
    user-profile {
      .profileHeader {
        .profileImage {
          ion-avatar {
            padding-bottom: 0.6rem;

            img {
              margin: auto;
              width: 14rem;
              height: 14rem;
              box-shadow: 1px 2px 5px #888888;
            }
          }
        }

        .personalInfo {
          .profileinfostudent {
            display: flex;
            flex-direction: column;
            align-items: center;

            .studentname {
              font-size: 16px;
              color: #1ac8de;
            }

            .studentcode {
              font-size: 12px;
            }
          }
        }
      }

        ion-card-content {
            padding: 0 0 0.2rem;
            .editableInfo {
                display: flex;
                flex-direction: column;
                width: 90%;
                .alertvalidator {
                    display: flex;
                    justify-content: center;
                    p {
                        font-size: 9px;
                        color: red;
                    }
                }
                .editFields {
                    display: flex;
                    flex-direction: row;
                }

                input.text-input {
                    margin: 0;
                    padding: 0;
                    width: calc(100% - 8px - 8px);
                }

                .item{
                  font-size:1.4rem;
                }

                .item.item-input .item-inner {
                    border: 0;
                    //border-bottom: 0px solid green;
                    outline: 0;
                    padding-left: 10px;
                    //color: #6c6c6c;
                }
                item.item-input.input-has-focus .item-inner {
                    box-shadow: none;
                    border-bottom: 2px solid green;
                }
                .item.item-input.input-has-focus .input-cover {
                    display: none;
                }

            }

            .editLabel{
              font-size: 1.2rem;
              text-align: right;
            }
        }

        .projects{

          display: flex;
          flex-direction: row;
          align-items: center;

        .project{

          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          ion-avatar {
            padding-bottom: 0.2rem;

            img {
              margin: auto;
              width: 10rem;
              height: 10rem;
              box-shadow: 1px 2px 5px #888888;
            }
          }

          .labelEdit{
            font-size:1.9rem;
          }
        }
    }
  }
}
