<ion-content class="backgroundLogin">
    <!-- <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col width-67>
            <img class="logo" src="../assets/imgs/logo_inicio.png" />
        </ion-col>
        <ion-col></ion-col>
    </ion-row> -->
    <ion-grid>
        <ion-row class="logo-row">
            <ion-col col-2></ion-col>
            <ion-col col-8 style="margin-left: auto;margin-right: auto;display: block;">
                <img src="../assets/imgs/logo_inicio.png" class="logo">
                <!-- <img src="https://media.giphy.com/media/9ohlKnRDAmotG/giphy.gif" class="logo"> -->
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
    </ion-grid>

    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
        <!--divs-->
        <div class="row responsive-md">

            <div class="col col-50 col-offset-25">

                <ion-item class="item-trns">
                    <ion-label floating>Usuario o Correo</ion-label>
                    <ion-icon name="person" item-left class="iconPosition"> </ion-icon>
                    <ion-input #email formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
                </ion-item>
                <ion-item id="item-trns" class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
                    <p id="alertvalidator">Por favor ingresa un correo válido.</p>
                </ion-item>

                <ion-item class="item item-trns">
                    <ion-label floating>Contraseña</ion-label>
                    <ion-icon name="lock" item-left class="iconPosition"> </ion-icon>
                    <ion-input show-hide-input #password formControlName="password" clearOnEdit="false" type="{{type}}" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
                    <!-- <ion-icon name="eye" item-right></ion-icon> -->
                    <!-- <button ion-button class="iconPosition" clear color="dark" type="button" item-right (click)="showPassword()">  -->
                    <ion-icon class="iconPosition" name="eye" large *ngIf="!showpass" item-right (click)="showPassword()"> </ion-icon>
                    <ion-icon class="iconPosition" name="eye-off" large *ngIf="showpass" item-right (click)="showPassword()"></ion-icon>
                    <!-- </button> -->
                </ion-item>
                <ion-item id="item-trns" class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
                    <p id="alertvalidator">Por favor ingresa más de 6 caracteres</p>
                </ion-item>

                <button ion-button clear float-right color="light" (click)="goToResetPassword()">
                Olvidé mi contraseña
              </button>

                <button color="secondary" ion-button block type="submit">Iniciar</button>
                <p text-center>¿Nuevo aquí? <a class="centerText" (click)="goToSignup()">Regístrate</a></p>

            </div>
        </div>
    </form>
</ion-content>